body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.container {
  width: 100%;
  display: flex;
}

.left,
.right {
  height: 50vh;
  flex: 1;
  display: flex;
  align-items: center;
  background: #acacac;
}
.leftStyle {
  background: #29422c;
  color: white;
}
.video {
  max-width: 100%;
  height: 100%;
  width: 100%;
}
.maincontainer {
  background: #acacac;
}
.rightimg {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.right > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.writeup {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 11px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 18px;
    width: 869px;
  }
  .mainContainer {
    width: 869px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
    width: 869px;
  }
  .mainContainer {
    width: 869px;
  }
}
