* {
  margin: 0;
  padding: 0;
}
.header {
  height: 330px;
  width: 100%;
  background: #29422c;
}
.logostyle {
  width: 211px;
  height: 128px;
  object-fit: cover;
}
.logoStyle {
  display: flex;
  justify-content: center;
}
.Main_listStyle {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  line-height: 81px;
}
.listStyle {
  color: white;
}
.anchorStyle {
  text-decoration: none;
}
.subWrapper {
  background: #acacac;
  height: 295px;
  margin-top: -41px;
}
.subStyle {
  text-align: center;
  color: white;
  line-height: 45px;
  font-family: "Times New Roman", Times, serif;
}
.style {
  font-size: 30px;
}

.contact {
  top: 22px;
  position: absolute;
  color: white;
  left: 76%;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Main_listStyle {
    width: 118%;
    gap: 23px;
    left: -43px;
    position: absolute;
  }
  .subStyle {
    margin-top: 75px;
    line-height: 45px;
  }
  .header {
    width: 867px;
  }
  .subWrapper {
    width: 855px;
  }
  .wrapper {
    width: 868px;
  }
}
@media screen and (max-width: 600px) {
  .Main_listStyle {
    width: 233%;
    gap: 23px;
    left: -43px;
    position: absolute;
  }
  .header {
    width: 870px;
  }
  .subStyle {
    margin-top: 80px;
  }
  .contact {
    margin-left: 342px;
  }
  .subWrapper {
    width: 869px;
  }
  .wrapper {
    width: 869px;
  }
}
